@charset "UTF-8";
body {
  font: 14px "Microsoft YaHei", "宋体";
  color: #444;
  padding: 0;
  margin: 0; }

body {
  background: none repeat scroll 0 0 #e7eaec;
  imgottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

label input a img {
  outline: none; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.default .header {
  height: 46px;
  background-color: #18b4ed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.default .menulist1 {
  background: #3b4857;
  width: 63px;
  height: 46px; }

.default .menulist2 {
  background: #18b4ed;
  width: 63px;
  height: 45px; }

.default .mainmenu {
  background: url("../img/background.png") no-repeat -160px -140px;
  display: block;
  width: 28px;
  height: 17px;
  margin-top: 15px;
  margin-left: 20px; }

.default .mainlogo {
  float: left;
  background: url("../img/logo.png") no-repeat;
  width: 200px;
  height: 25px;
  font-size: 18px;
  position: relative;
  margin: 16px 0 0 14px;
  color: #fff; }

.default a {
  text-decoration: none;
  cursor: pointer; }

.default .headmessage {
  height: 45px; }
  .default .headmessage .double-icon {
    background: url("../img/double11.png");
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 20px;
    margin: 7px 10px 0 30px; }
  .default .headmessage span {
    height: 30px;
    float: left;
    color: #f2f2f2;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px; }
  .default .headmessage img {
    float: left;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    padding: 1px;
    border: solid 2px #fff;
    margin: 8px 15px 0 0; }

.default .head_ask {
  height: 45px;
  line-height: 45px;
  color: #f2f2f2;
  font-size: 14px;
  max-width: 30em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
  margin-right: 40px; }

.default #leftside {
  position: fixed;
  top: 46px;
  left: 0;
  width: 63px;
  background: #393d48;
  height: 100%;
  z-index: 201; }
  .default #leftside .on {
    border-left: 2px solid #469cd2;
    background: #2f323b;
    color: #fff; }
  .default #leftside li {
    border-left: 2px solid #393d48;
    margin-left: 1px;
    position: relative; }
    .default #leftside li:hover {
      border-left: 2px solid #469cd2; }
    .default #leftside li span {
      display: block;
      width: 32px;
      height: 24px;
      margin: 0 0 0 14px; }
  .default #leftside a:hover {
    background: #2f323b;
    color: #fff; }
    .default #leftside a:hover .homeicon {
      background: url("../img/background.png") no-repeat -413px -348px; }
    .default #leftside a:hover .personicon {
      background: url("../img/background.png") no-repeat -261px -308px; }
    .default #leftside a:hover .followicon {
      background: url("../img/background.png") no-repeat -413px -264px; }
    .default #leftside a:hover .remainicon {
      background: url("../img/background.png") no-repeat -413px 0px; }
    .default #leftside a:hover .tableicon {
      background: url("../img/background.png") no-repeat -413px -176px; }
    .default #leftside a:hover .baiduicon {
      background: url("../img/background.png") no-repeat -358px -155px; }
  .default #leftside a {
    display: block;
    padding: 20px 0;
    color: #a2bdcd;
    font-size: 14px; }
  .default #leftside .homeicon, .default #leftside .tableicon {
    width: 24px;
    height: 24px; }
  .default #leftside .homeicon, .default #leftside .personicon, .default #leftside .followicon, .default #leftside .remainicon, .default #leftside .tableicon, .default #leftside .baiduicon {
    margin: 0 0 0 17px; }
  .default #leftside .homeicon {
    background: url("../img/background.png") no-repeat -413px -306px; }
  .default #leftside .personicon {
    background: url("../img/background.png") no-repeat -93px -308px; }
  .default #leftside .followicon {
    background: url("../img/background.png") no-repeat -49px -308px; }
  .default #leftside .remainicon {
    background: url("../img/background.png") no-repeat -413px 0px; }
  .default #leftside .tableicon {
    background: url("../img/background.png") no-repeat -413px -132px; }
  .default #leftside .baiduicon {
    background: url("../img/background.png") no-repeat -358px -202px; }

.default .main {
  margin-top: 46px;
  margin-left: 88px; }
  .default .main section:last-of-type {
    margin-bottom: 50px; }
  .default .main .container {
    width: 1000px;
    margin: 0 auto; }
    .default .main .container .title {
      font-size: 20px;
      color: #344D6D;
      padding: 18px 0; }
      .default .main .container .title span {
        font-size: 12px; }
    .default .main .container .title1 {
      font-size: 14px;
      color: #344D6D;
      padding: 18px 0; }
      .default .main .container .title1 span {
        font-size: 12px; }
    .default .main .container .content {
      z-index: -1;
      position: relative;
      width: 1000px; }
      .default .main .container .content .addbefore {
        height: 333px; }
        .default .main .container .content .addbefore .s1_add {
          position: absolute;
          top: 54%;
          right: 25px;
          background-color: transparent;
          width: 80px;
          height: 30px;
          cursor: pointer; }
        .default .main .container .content .addbefore .s2_add {
          position: absolute;
          top: 45%;
          right: 32%;
          background-color: transparent;
          width: 80px;
          height: 30px;
          cursor: pointer; }
    .default .main .container .content1 {
      height: 50px;
      background-color: #fff; }
      .default .main .container .content1 .item {
        cursor: pointer;
        float: left;
        font-size: 16px;
        width: 150px;
        text-align: center;
        height: 100%;
        line-height: 50px; }
      .default .main .container .content1 .active {
        color: #000;
        background-color: #cedeeb; }
    .default .main .container .daiban img {
      margin: 30px; }

.hide {
  display: none; }

.fl {
  float: left; }

.fr {
  float: right; }

ul, li, p, h1, h2, form {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

.fontsize {
  font-size: 10px; }
